# Data Science Ecosystem

## Introduction
- This is an assignment regarding the course i'm currently enrolled in
- The contents of this notebook include
* List of Data Science Languages
* Data Science Libraries
* Data Science Tools
* Some Examples of Arithmetic Expressions
* Program to multiply and subtract 2 numbers
* Program to convert minutes to hours
* Objective of creating this notebook
* Name of author

## List of Data Science Languages
- Python
- Structured Query Language
- C,C+,C++
- Scala
- Java
- R language
- Javascript

## Data Science Libraries
| Programming language | Libraries |
|----------------------|-----------|
|Python|Pandas,Numpy,Matplotlib|
|Scala|Vegas,Big DL|
|R language|dplyr,stringr,ggplot|

## Data Science Tools
|Data Science Process|Tool to be used|
|--------------------|---------------|
|Data Management|Mysql,postgresql,ceph|
|Data ETL|apache airflow,kubeflow,spark|
|Data Visualization|Pixiedust,Hue,Superset|
|Model Building|IBM Watson Studio|
|Model Deployment|Apache Prediction IO,Seldon|
|Model Monitoring|ModelDB,Prometheus|
|Code Asset Management|Git,Github,Gitlab|
|Data Asset Management|apache Atlas,Kylo|

## Arithmetic Expression Examples
- '7+3' is an expression involving '+' operator which results in '10'
- '7-1' is an expression involving '-' operator which results in '6'
- '7*2' is an expression involving '*' operator which results in '14'
- '7/7' is an expression involving '/' operator which results in '1.0'

## Arithmetic Program

### Multiplication

In [ ]:
a=5
b=6
product=a*b
print("the product is ",product)

## Addition

In [ ]:
a=9
b=89
sum=a+b
print("the sum is ",sum)

## Program to convert minutes to hours

In [ ]:
min=int(input("Enter time in minutes"))
hour=min/60
print("time in hours is",hour)

## Objectives
- Learnt to create a notebook
- Learnt to insert a heading in a markdown cell
- Learnt to insert a code in a code cell
- Learnt to create a table in a markdown cell
- Learnt to create an unordered list in a markdown cell

# Author
- Kushaal Veeraraghav